<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean id="loginAction" class="Action.LoginAction" scope="prototype">
		<property name="cd">
			<ref bean="cd"/>
		</property>
	</bean>
	
	<bean id="registerAction" class="Action.RegAction" scope="prototype">
		<property name="cd">
			<ref bean="cd"/>
		</property>
	</bean>
	
	<bean id="addBook" class="Action.addBooking" scope="prototype" >
		<property name="bd">
			<ref bean="bd"/>
		</property>
	</bean>
	
	<bean id="getBook" class="Action.getBooking"   >
		<property name="bd">
			<ref bean="bd"/>
		</property>
	</bean>
	<bean id="updateTicketAction" class="Action.updateTicket" >
		<property name="bd">
			<ref bean="bd"/>
		</property>
	</bean>
		<bean id="deleteTicketAction" class="Action.deleteTicket" scope="prototype" >
		<property name="bd">
			<ref bean="bd"/>
		</property>
	</bean>
		<bean id="queryTicketById" class="Action.queryTicketById" scope="prototype">
		<property name="bd">
			<ref bean="bd"/>
		</property>
	</bean>
		<bean id="changePasswordAction" class="Action.changePasswordAction" >
		<property name="cd">
			<ref bean="cd"/>
		</property>
	</bean>
	<bean id="exitAction" class="Action.exitSystem" scope="prototype">
		<property name="bd">
			<ref bean="bd"/>
		</property>
	</bean>
	<bean id="queryTicketByCriteriaAction" class="Action.queryTicketByCriteria" scope="prototype" >
		<property name="bd">
			<ref bean="bd"/>
		</property>
	</bean>

</beans>