<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<!-- dao层bean对象定义 -->
	<bean id="td" class="com.system.management.dao.TicketDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>		
		<bean id="sd" class="com.system.management.dao.SeatDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="cd" class="com.system.concert.dao.ConcertDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	 </bean>
	 
	 <bean id="ud" class="dao.imp.UserDaoImp">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>		
	<bean id="ad" class="com.system.management.dao.CustomerDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	 </bean>
	<bean id="bd" class="com.system.management.dao.BookingDao">		
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	 </bean> 
	 <bean id="od" class="com.system.order.dao.OrderDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	 </bean>
</beans>