	*{
		padding: 0;
		margin: 0;
		font-family: "微软雅黑";	
	}
	
	
	.head1 {
		width:100%;
		font-size: 50px ;
		margin-left: 30px ;
    	cursor: pointer ;/*光标显示成小手型*/
	}
	
	
	.head3{
		width:500px;
        height:50px;
        border-radius: 10px; 
		border: 1px solid grey;                       		
   	    margin-bottom: 15px;               
	}
	
	.head4{			
		width:500px;
   	    height:30px;
 	    border-radius: 10px; 
		border: 1px solid grey;                       		
 	  	margin-bottom: 15px;  	  
	}
	
	
		
        .box {
            width: 500px;
            height:200px;    
            padding: 5px;
            margin: 100px;
        }


        .content {
            width: 500px;
            height: 250px;
            transform:translateY(-25%); 	  
            overflow: hidden;
            position: relative;
        }

        .content ul {
            width: 600%;
            position: absolute;
            list-style-type: none;
        }

        .content li {
            float: left;
            list-style-type: none;
        }

        .content ol {
            position: absolute;
            bottom: 14px;
            right: 20px;
        }

        .content ol li {
            float: left;
            width: 20px;
            height: 20px;
            background-color: #fff;
            font: 500 17px/20px "simsun";
            text-align: center;
            margin-right: 15px;
            cursor: pointer;
        }

        .arrow {
            display: none;
        }

        .arrow span {
            position: absolute;
            top: 50%;
            margin-top: -20px;
            width: 30px;
            height: 40px;
            background-color: rgba(255, 228, 206, 0.3);
            text-align: center;
            font: 400 20px/40px "simsun";
            border: 2px solid black;
            cursor: pointer;
        }

        .arr-left {
            left: 5px;             
            border-radius: 0 5px 5px 0;
        }

        .arr-right {
            right: 5px;                      
            border-radius: 5px 0 0 5px;
        }

        .content .current {
            background-color: yellow;
        }

	
	*{
		padding: 0;
		margin: 0;
		font-family: "微软雅黑";	
	}
	.photo{
	transform:translateY(-20%);

	float:left;
	}
	.body{
	transform:translateX(-20%);
	}
	/*设置header的div区*/
	.header{
		height: 60px ;
    	background: #458fce ;
	}
	/*设置logo的div区*/
	.header .logo{
		color: #fff ;
		font-size: 30px ;
		font-weight:500 ;
    	line-height: 60px ;
    	margin-left: 20px ;
    	display:inline-block ;
    	float: left ;/*左浮动*/
	}
	/*设置li标签里*/
	.header ul li{
		float: left ;
		color: #fff ;
    	display: inline-block ;
    	width: 112px ;
    	height: 60px ; 
    	text-align: center ;
    	line-height:60px ;
    	cursor: pointer ;/*光标显示成小手型*/
	}
	/*细节调整*/
	ul li{
		list-style: none ;/*li的小圆点去掉*/
	}
	.header ul li.first{
		margin-left: 30px ;/*设置“首页”与“原创文字”间距*/
    	background:#74b0e2 ;/*“首页”设置默认背景*/
	}
	
	/*设置导航添加hover事件*/
	.header ul li:hover{
		 background:#74b0e2 ;
	}
	

	

	
	
	
	



